# SPDX-FileCopyrightText: 2025 NONE
#
# SPDX-License-Identifier: CC0-1.0

# use_guix -m manifest.scm

bundle config set --local path 'vendor/bundle'
bundle config set --local cache_path 'vendor/cache'

export GEM_HOME="$PWD/.gem/ruby/3.4.0"
export GEM_PATH="$GEM_HOME"
export PATH="$GEM_HOME/bin:$PATH"
